.git/
.idea/
.venv/
venv/
.dart_tool/
build/
android/
ios/
lib/
web/
linux/
macos/
windows/
assets/
test/
backend/.env
backend/.env.*
backend/.venv/
backend/venv/
backend/dataset/
backend/training-output/
**/*.pth
.env
.env.*
**/.env
**/.env.*
